<!doctype html>
<html lang="ko">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My 가계부</title>
</head>
<body>
	<h1>통장 등록</h1>
	<form action="./executeaccountregist" method="POST">{% csrf_token %}
	    <table>
	    	<tr>
	    		<td>	    	
			    	<label>통장 이름</label>
	    		</td>
	    		<td colspan=2>
	    			<input id="inp_account_name" name="inp_account_name" type="text" style="width:100%" />
	    		</td>
	    	</tr>
	    	<tr>
	    		<td>
			    	<label>은행</label>
	    		</td>
	    		<td colspan=2>
	    			<input id="inp_bank_name" name="inp_bank_name" type="text" style="width:100%"/>
	    		</td>
	    	</tr>
	    	<tr>
	    		<td>
			    	<label>계좌번호</label>
	    		</td>
	    		<td colspan=2>
	    			<input id="inp_account_num" name="inp_account_num" type="text" style="width:100%"/>
	    		</td>
	    	</tr>
	    	<tr>
	    		<td>
			    	<label>통장종류</label>
	    		</td>
	    		<td>
	    			<select id="sel_account_kind" name="sel_account_kind" onchange="changedKind()" >
	    				<option value="">선택안함</option>
	    				<option value="1">예금</option>
	    				<option value="2">적금</option>
	    				<option value="3">연금</option>
	    				<option value="4">청약</option>
	    				<option value="99">직접입력</option>
	    			</select>
	    		</td>
	    		<td>
	    			<input id="inp_account_kind_other" name="inp_account_kind_other" type="text" readonly="readonly" />
	    		</td>
	    	</tr>
	    	<tr>
	    		<td>
			    	<label>통장목적</label>
	    		</td>
	    		<td>
	    			<select id="sel_account_purpose" name="sel_account_purpose" onchange="changedPurpose()">
	    				<option value="">선택안함</option>
	    				<option value="1">월급통장</option>
	    				<option value="2">고정지출</option>
	    				<option value="3">생활비</option>
	    				<option value="99">직접입력</option>
	    			</select>
	    		</td>
	    		<td>
	    			<input id="inp_account_purpose_other" name="inp_account_purpose_other" type="text" readonly="readonly" />
	    		</td>
	    	</tr>
	    	<tr>
	    		<td colspan=2></td>
	    		<td><input type=submit value="등록" style="width:80px; float:right"></input></td>
	    	</tr>
	    </table>
    </form>
    <script type="text/javascript">

    	// 통장종류 변경이벤트
    	function changedKind() {
    		var selectedVal = $('#sel_account_kind option:selected').val();
    		if(selectedVal == "99") {
    			$('#inp_account_kind_other').attr('readonly', false);
    		}
    		else {
    			$('#inp_account_kind_other').attr('readonly', true);
    		}
    	}
    	
    	// 통장목적 변경이벤트
    	function changedPurpose() {
    		var selectedVal = $('#sel_account_purpose option:selected').val();
    		if(selectedVal == "99") {
    			$('#inp_account_purpose_other').attr('readonly', false);
    		}
    		else {
    			$('#inp_account_purpose_other').attr('readonly', true);
    		}
    	}
    	
    </script>
</body>
</html>